@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-image-wrapper {
 
  background-image: url("/_assets/working.jpg");
  background-repeat: no-repeat;
  background-size:   cover;
}

.background-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/working.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.5; /* Adjust the opacity here */
}

.background-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(143, 150, 150, 0.5); 
  z-index: -1;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
   height: "100%";
  filter: drop-shadow(0 0 1rem rgb(88, 89, 90));
  /* align-items: center;
  justify-content: left; */
  /* display: flex; */
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
 
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  /* margin-top: 20px; */
  filter: drop-shadow(5px 5px 5px  #dedcdc);
  justify-content: center;
  width: 50%;
  height: 660px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  border: 1px solid #ccc;
  /* border-radius: 35px; */
  
}

.formImg{
display: flex;
justify-content: center;
/* align-items: center; */
display: flex;
flex-direction: row;
width: 100%;
/* margin-top: 30px; */
}

.label {
  display: block;
  margin-top: 5px;
  font-weight: 500;
  /* margin-bottom: 5px; */
}

.input,
.radio,
.select,
.button {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}


.input[type="number"] {
  width: 100%;
  margin-top: 10px;
}

.radio {
  margin-right: 10px;
}

.button {
  background-color: #1c5f3a;
  color: #fff;
  cursor: pointer;
  align-items: center;
  /* margin-top: 10px; */
  justify-content: center;
  /* margin: 10px; */
  width: 100px;
  border-radius: 30px;
}

.button:hover {
  background-color: #124127;
}

.buttonBox{
  display: flex;
justify-content: center;
align-items: center;
width: 100%;
/* margin-bottom: 10px; */
/* padding-top: 20px; */
margin-bottom: 30px;
}


.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactCont {
  font-size: 1.3rem;
  border-radius: 10px;
  width: 35%;
  height: 45%;
  padding: 50px;
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%);
}

.contactCont input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 5px;
  background-color: #e8f0fe;
}

.contactCont textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 5px;
  background-color: #e8f0fe;
  font-size: 20px;
}

.contactCont h1 {
  text-align: center;
  font-weight: 600;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border: 3px solid black;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
}

.button-block{
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: rgb(237, 241, 241);
  background-color: deepskyblue;
  
}